body, html {
	background-color: lightgray;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	max-width: 960px;
}

a:link, {
	color: blue;
}

a:visited {
	color: purple;
}

.header-wrapper {
	background-color: rgba(50,50,225,0.5);
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
h1 {
	font-weight: 700;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 8px;
}

.header-wrapper h1, h2 {
	padding-bottom: 5px;
	text-align: center;
	text-shadow: 0 1px 1px lightgray;
	font-weight: 700;
}
.header-wrapper h1 {
	font-size: 40px;
	padding-top: 12px;
}
.header-wrapper h2 {
	font-size: 28px;
}
.header-wrapper a {
	text-decoration: none;
}
.header-wrapper a:link, .header-wrapper a:visited {
	color: black;
}
nav ul{
	padding: 4px 0; 
	overflow: hidden;
	text-align: center;
	width:510px;
	margin:0 auto;
}
nav li {
	float: left;
	border-right: solid black 1px;
	border-left: solid lightgray 1px;
	margin: 5px 0 2px 0;
	text-shadow: 0 1px 1px lightgray;
}
nav li:first-child{
	border-left: none;
}
nav li:last-child{
	border-right:none;
}
nav a {
	display: block;
	text-align: center;
	width: 100px;
	padding: 5px 0;
}

nav a:hover {
	background-color: rgba(255,50,50,0.5);
} 

section {
	margin-top: 20px;
	font-size: 13px;
	margin-left: 7%;
	margin-right: 1%;
	height: 70%;
	line-height: 1.25;
}
footer {
	margin-top: 20px;
	margin-left: 6%;
	padding-top: 5px;
	font-size: 12px;
	border-top: solid 1px gray;
}
.left-bar {
	width: 5%;
	height: 100%;
	float: left;
	background-color: rgba(255,50,50,0.5);
}